.body {
    background-image: url(images/concrete-texture.png) !important;
}

nav {
    border-bottom:solid;
    border-width: 2px;
    border-bottom-color: #dddddd;
}

.navbar-brand {
    background: #4aaaa5 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#portfolio {
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: #dddddd;
}

.media {
    width: 960px;
    margin: 0 auto;
    background: #ffffff;
    color: #777777;
}

img, section {
    display: inline;
}

h5 {
    color: #4aaaa5 !important;
    border-bottom: solid;
    border-bottom-color: #dddddd;
}

footer {
    Border-top: solid;
    border-width: 8px;
    border-top-color: #4aaaa5;
    background: #777777 !important;
}

.container {
    background: #ffffff;
    Border: solid;
    border-width: 2px;
    border-color: #777777;
    margin-bottom: 50px;
    width: 960px;
    color: #777777;
}

#Contact {
    color: #4aaaa5 !important;
    border-bottom: 5px !important;
    border-bottom-color: #777777 !important;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
    border-color: #4aaaa5;
}

.portfolio {
    color: #4aaaa5;
    border: solid;
    border-width: 2px;
    border-color: #777777;
    width: 960px;
    background: #ffffff;
    margin: 0 auto;
}
